.about{
    display: none;
}
.about.active{
    display: block;
    animation: fade 0.5s ease backwards;
}
@keyframes fade{
    0% {opacity: 0;}
    100%{opacity: 1;}
}

.article_title{
    position: relative;
    padding-bottom: 7px;
    margin-bottom: 15px;
}
.article_title::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--text-gradient-yellow);
    border-radius: 3px;
}

.article_text{
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
}
.article_text p{
    margin-bottom: 15px;
}

.service{
    margin-bottom: 35px;
}
.service_title{
    margin-bottom: 20px;
}
.service_list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.service_item{
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--shadow-2);
    z-index: 1;
}
.service_item::before{
    content: "";
    inset: 1px;
    position: absolute;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
}
.service_icon_box{
    margin-bottom: 10px;
}
.service_icon_box img {
    margin: auto;
}
.service_content_box{
    text-align: center;
}
.service_item_title{
    margin-bottom: 7px;
}
.service_item_text{
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
}
.testimonials{margin-bottom: 30px;}
.testimonials_title{margin-bottom: 20px;}
.testimonials_list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 -10px;
    padding: 25px 15px;
    padding-bottom: 35px;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: initial mandatory;
}
.has_scrollbar::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.has_scrollbar::-webkit-scrollbar-track{
    background: var(--onyx);
    border-radius: 5px;
}
.has_scrollbar::-webkit-scrollbar-thumb{
    background: var(--orange-yellow-crayola);
    border-radius: 5px;
}
.has_scrollbar::-webkit-scrollbar-button{
    width: 20px;
}
.testimonials_item{
    min-width: 100%;
    scroll-snap-align: center;
}
.testimonials_avatar_box{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15px, -25px);
    background: var(--bg-gradient-onyx);
    border-radius: 14px;
    box-shadow: var(--shadow-1);
}

.testimonials_item_title{
    margin-bottom: 7px;
   
}
.testimonials_text{
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.content_card{
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 15px;
    padding-top: 45px;
    border-radius: 14px;
    box-shadow: var(--shadow-1);
    z-index: 1;
}
.content_card::before{
    content: '';
    inset: 1px;
    position: absolute;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
}

/* Testimonial modal */

.modal_container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 20;
    pointer-events: none;
    visibility: hidden;
}
.modal_container::-webkit-scrollbar{
    display: none;
}
.modal_container.active{
    pointer-events: all;
    visibility: visible;
}
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: hsl(0, 0%, 5%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
    transition: var(--transition-1);
}
.overlay.active{
    opacity: 0.8;
    visibility: visible;
    pointer-events: all;
}
.testimonials_modal{
    background: var(--eerie-black-2);
    position: relative;
    padding: 15px;
    margin: 15px 12px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    box-shadow: var(--shadow-5);
    transform: scale(1.2);
    opacity: 0;
    transition: var(--transition-1);
    z-index: 2;

}
.modal_container.active .testimonials_modal{
    transform: scale(1);
    opacity: 1;
}
.modal_close_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--onyx);
    position: absolute;
    top: 15px;
    right: 15px;
    height: 32px;
    width: 32px;
    border-radius: 8px;
    color: var(--white-2);
    font-size: 18px;
    opacity: 0.7;
}
.modal_close_btn:hover,.modal_close_btn:focus{opacity: 1;}

.modal_avatar_box{
    background: var(--bg-gradient-onyx);
    width: max-content;
    border-radius: 14px;
    margin-bottom: 15px;
    box-shadow: var(--shadow-2);
}
.modal_img_wrapper > img{
    display: none;
}
.modal_title{
    margin-bottom: 4px;
}
.modal_content time{
    font-size: var(--fs-6);
    color: var(--light-gray-70);
    font-weight: var(--fw-300);
    margin-bottom: 10px;
}
.modal_content p {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
}
/* Tech Stack  */
.tech_stacks{
margin-bottom: 15px;
}
.tech_stacks_list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 0 -10px;
    padding: 25px;
    padding-bottom: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: initial mandatory;
    scroll-padding-inline: 25px;
}
.tech_stack_item{
    /* min-width: 50%; */
    scroll-snap-align: start;
}
.tech_stack_item{
    width: 100%;
    filter: grayscale(1);
    transition: var(--transition-1);
}
.tech_stack_item:hover{
    filter: grayscale(0);
}