.about{
    display: none;
}
.active{
    display: block;
    animation: fade 0.5s ease backwards;
}
@keyframes fade{
    0% {opacity: 0;}
    100%{opacity: 1;}
}

.article_title{
    position: relative;
    padding-bottom: 7px;
    margin-bottom: 15px;
}
.article_title::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background: var(--text-gradient-yellow);
    border-radius: 3px;
}

.article_text{
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
}
.article_text p{
    margin-bottom: 15px;
}

.service{
    margin-bottom: 35px;
}
.service_title{
    margin-bottom: 20px;
}
.service_list{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.service_item{
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--shadow-2);
    z-index: 1;
}
.service_item::before{
    content: "";
    inset: 1px;
    position: absolute;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
}
.service_icon_box{
    margin-bottom: 10px;
}
.service_icon_box img {
    margin: auto;
}
.service_content_box{
    text-align: center;
}
.service_item_title{
    margin-bottom: 7px;
}
.service_item_text{
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
}
.testimonials{margin-bottom: 30px;}
.testimonials_title{margin-bottom: 20px;}
.testimonials_list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 -15px;
    padding: 25px 15px;
    padding-bottom: 35px;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: initial mandatory;
}
.has_scrollbar::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.has_scrollbar::-webkit-scrollbar-track{
    background: var(--onyx);
    border-radius: 5px;
}
.has_scrollbar::-webkit-scrollbar-thumb{
    background: var(--orange-yellow-crayola);
    border-radius: 5px;
}
.has_scrollbar::-webkit-scrollbar-button{
    width: 20px;
}
.testimonials_item{
    min-width: 100%;
    scroll-snap-align: center;
}
.testimonials_avatar_box{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15px, -25px);
    background: var(--bg-gradient-onyx);
    border-radius: 14px;
    box-shadow: var(--shadow-1);
}

.testimonials_item_title{
    margin-bottom: 7px;
   
}
.testimonials_text{
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.content_card{
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 15px;
    padding-top: 45px;
    border-radius: 14px;
    box-shadow: var(--shadow-1);
    z-index: 1;
}
.content_card::before{
    content: '';
    inset: 1px;
    position: absolute;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
}